.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #232B33;
  position: relative;
}

.top  {
  max-width: 440px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72px;
  margin: 0 auto;
  padding: 8px 0 24px;
}

.social > a:hover {
  opacity: .6;
  transition: .5s;
}

.profile_name {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.profile_job {
  font-size: 14px;
  color: #aaa;
}

.profile_description {
  text-align: justify;
}

.footer {
  padding: 2rem 0;
  background: #232B33;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.footer p {
  margin: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
